@model PaginatedList<VehicleIndexViewModel>

@{
    ViewData["Title"] = "Latest vehicles";
}

<h2 class="text-center mb-3">Latest vehicles</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center mb-3">There are no added vehicles yet</h2>
}

<div class="row">
    @foreach (var car in Model)
    {
        var checkImage = car.MainImage ?? "NoImage.jpg";
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/Uploads/@checkImage" alt="@car.Title" />
                <div class="card-body">
                    <h5 class="card-title text-center">@car.Title</h5>
                    <p class="card-text text-center"><strong>Price:</strong> $@car.Price</p>
                    <div class="row text-center">
                        <div class="col-6"><strong>Make:</strong> @car.Make</div>
                        <div class="col-6"><strong>Model:</strong> @car.Model</div>
                    </div>
                    <div class="row text-center mt-2">
                        <div class="col-6"><strong>Year:</strong> @car.Month, @car.Year</div>
                        <div class="col-6"><strong>Mileage:</strong> @car.Mileage km</div>
                    </div>
                    <div class="row text-center mt-2">
                        <div class="col-6"><strong>Transmission:</strong> @car.Transmission</div>
                        <div class="col-6"><strong>Fuel:</strong> @car.FuelType</div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Details" asp-controller="Vehicle" asp-route-id="@car.Id" class="btn btn-primary">Check Details</a>
                </div>
            </div>
        </div>
    }
</div>

@{
    var prevDisabled = !Model.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.HasNext ? "disabled" : "";
    string action = "Index";
}

<partial name="_PaginationControls"
         model="(action, Model.PageIndex, prevDisabled, nextDisabled)" />