@model UpdateInformationViewModel;

@{
    ViewData["Title"] = "Update Information";
}
<div class="row mt-5">
    <div class="row mt-5">
<h1 class="text-center">@ViewData["Title"]</h1>


<div class="row">
    <div class="col-md-4 offset-md-4">
        <form id="updateForm" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-center mb-3">
                <label asp-for="@Model.UserName">Username</label>
                <input class="form-control" placeholder="e.g. John Doe" autocomplete="username" aria-required="true" asp-for="@Model.UserName" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Email">Email</label>
                <input class="form-control " placeholder="e.g. JohnDoe@@Gmail.com" autocomplete="username" aria-required="true" asp-for="@Model.Email" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>

            <div class="text-center mb-3">
                <label asp-for="@Model.PhoneNumber">Phone number</label>
                <input type="tel" class="form-control " placeholder="087-832-4567" autocomplete="username" aria-required="true" asp-for="@Model.PhoneNumber" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="text-center mb-3">
                <label asp-for="@Model.Password">Password</label>
                <input class="form-control" type="password" placeholder="********" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button id="editInfo" type="submit" class="btn btn-warning">Update information</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

